In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/nVITTOadrianto/pdt-uas-no-1/main/salaries_final.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14470 entries, 0 to 14469
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14470 non-null  int64
 1   Name               14470 non-null  object
 2   Primary Job Title  14470 non-null  object
 3   Base Pay           14470 non-null  float64
 4   Department         14470 non-null  object
 5   College            14470 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 678.4+ KB

In [ ]:
df["Base Pay"].describe()

count     14470.000000
mean      70986.426381
std       47287.464370
min        1707.000000
25%       35000.000000
50%       63550.000000
75%       90529.250000
max      446429.000000
Name: Base Pay, dtype: float64